<%- include('../header') %>

    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-12 d-flex no-block align-items-center">
                    <h4 class="page-title">Add Products</h4>
                    <div class="ml-auto text-right">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Library</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->

            <div class="row">
                <div class="col-8">
                    <% if(locals.message?.success) { %>
                        <div class="alert alert-success" id="success-message">
                            <%= locals.message?.success %>
                        </div>
                        <% } %>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">

                    <div class="card">
                        <form method="post" action="/extrasubcategory/insertextrasubcategory" class="form-horizontal">
                            <div class="card-body">
                                <h4 class="card-title">Products</h4>

                                <div class="form-group row">
                                    <label for="fname" class="col-sm-3 text-right control-label col-form-label">
                                        Category</label>
                                    <div class="col-sm-9">
                                        <select name="category" class="form-control" onchange="categoryRecord()">
                                            <option>--- Select Category ---</option>
                                            <% category.map((val)=>{ %>
                                                <option value="<%= val?.id %>">
                                                    <%= val?.category %>
                                                </option>
                                                <% }) %>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="fname" class="col-sm-3 text-right control-label col-form-label">
                                        SubCategory</label>
                                    <div class="col-sm-9">
                                        <select name="subcategory" class="form-control" onchange="subcategoryRecord()">
                                            <option>--- Select SubCategory ---</option>
                                            <% subcategory.map((val)=>{ %>
                                                <option value="<%= val?.id %>">
                                                    <%= val?.subcategory %>
                                                </option>
                                                <% }) %>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="fname" class="col-sm-3 text-right control-label col-form-label">
                                        ExtraSubCategory</label>
                                    <div class="col-sm-9">
                                        <select name="extrasubcategory" class="form-control">
                                            <option>--- Select ExtraSubCategory ---</option>
                                        </select>
                                    </div>
                                </div>


                                <div class="form-group row">
                                    <label for="fname"
                                        class="col-sm-3 text-right control-label col-form-label">Product</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" name="product" placeholder="Product">
                                    </div>
                                </div>

                            </div>
                            <div class="border-top">
                                <div class="card-body">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>



                </div>

            </div>
            <!-- editor -->

            <!-- ============================================================== -->
            <!-- End PAge Content -->

        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->

        <footer class="footer text-center">
            All Rights Reserved by Matrix-admin. Designed and Developed by <a
                href="https://wrappixel.com">WrapPixel</a>.
        </footer>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script type="text/javascript">
        const categoryRecord = () => {
            let categoryid = document.getElementById('category').value;
            $.ajax({
                type: "GET",
                url: `/extrasubcategory/ajaxcategorywiserecords?categoryId=${categoryid}`,
                success: function (res) {
                    let subcategory = res.subcategory;
                    let tbl = "";
                    tbl += `<option value="">---Select Subcategory---</option>`
                    subcategory.map((cat, index) => {
                        tbl += `<option value='${cat?._id}'>${cat?.subcategory}</option>`
                    })
                    document.getElementById('subcategory').innerHTML = tbl

                }
            })
        }

        const subcategoryRecord = () => {
            let subcategoryid = document.getElementById('subcategory').value;
            $.ajax({
                type: "GET",
                url: `/products/ajaxsubcategorywiserecord?subcategoryId=${subcategoryid}`,
                success: function (res) {
                    let exsubcat = res.exsubcategory;
                    let tbl = "";
                    tbl += `<option value="">---Select ExtraSubCategory---</option>`
                    exsubcat.map((cat, index) => {
                        tbl += `<option value='${cat?._id}'>${cat?.exsubcategory}</option>`
                    })
                    document.getElementById('extrasubcategory').innerHTML = tbl

                }
            })

        }
    </script>

    <%- include('../footer') %>