<%- include('../header') %>

    <div class="page-wrapper">
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-12 d-flex no-block align-items-center">
                    <h4 class="page-title">Edit ExtraSubcategory</h4>
                    <div class="ml-auto text-right">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Library</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">

                    <% if(locals?.message?.success) { %>
                        <div class="alert alert-success" role="alert">
                            <%= locals?.message?.success %>
                        </div>
                        <% } %>
                            <div class="card">
                                <form class="form-horizontal" method="post"
                                    action="/extrasubcategory/insertextrasubcategory">
                                    <input type="hidden" name="editId" value="<%= oneRowRecord?.id %>" />
                                    <div class="card-body">
                                        <h4 class="card-title">ExtraSubcategory</h4>
                                        <div class="form-group row">
                                            <label for="fname"
                                                class="col-sm-3 text-right control-label col-form-label">Category</label>
                                            <div class="col-sm-9">
                                                <select name="category" class="form-control">
                                                    <option>---select category---</option>
                                                    <% allCategories.map((val, index)=> { %>
                                                        <option value="<%= val?.id %>"
                                                            <%=(oneRowRecord?.categoryId?.category===val?.category)
                                                            ? 'selected' : '' %>>
                                                            <%= val?.category %>
                                                        </option>
                                                        <% }) %>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="fname"
                                                class="col-sm-3 text-right control-label col-form-label">Subcategory</label>

                                            <div class="col-sm-9">
                                                <select name="subcategory" id="subcategory" class="form-control">
                                                    <option>---Select SubCategory---</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="fname"
                                                class="col-sm-3 text-right control-label col-form-label">Exsubcategory</label>
                                            <div class="col-sm-9">
                                                <input type="text" value="<%= oneRowRecord?.extraSubCategory %>"
                                                    name="extrasubcategory" class="form-control"
                                                    placeholder="ExtraSubCategory Name Here">
                                            </div>
                                        </div>

                                    </div>
                                    <div class="border-top">
                                        <div class="card-body">
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                </div>
            </div>
        </div>
        <footer class="footer text-center">
            All Rights Reserved by Matrix-admin. Designed and Developed by <a
                href="https://wrappixel.com">WrapPixel</a>.
        </footer>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <script type="text/javascript">
        const editSubcategory = () => {
            let catid = `<%= oneRowRecord?.categoryId?.id %>`;
            let subcateid = `<%= oneRowRecord?.subcategoryId?.id %>`;
            $.ajax({
                method: 'GET',
                url: `/extrasubcategory/ajaxcategorywiserecords?categoryid=${catid}`,
                success: function (res) {
                    console.log(res);
                    
                    let subcategory = res.subcategories;
                    let category = res.category;
                    let tbl = "";
                    tbl += `<option>---select subcategory---</option>`;
                    category.map((val) => {
                        tbl += `<option ${val?._id == subcateid ? 'selected' : ''} value=${val?._id}>${val?.subcategory}</option>`;
                    });
                    document.getElementById('subcategory').innerHTML = tbl;
                }
            });
        };
        editSubcategory();
    
        const categoryChange = () => {
            let catid = document.getElementById('category').value;
            $.ajax({
                method: 'GET',
                url: `/extrasubcategory/ajaxcategorywiserecords?categoryid=${catid}`,
                success: function (res) {
                    if (res.success) {
                        let tbl = "";
                        tbl += `<option value="">---select subcategory---</option>`;
                        let category = res.category;
                        category.map((val) => {
                            tbl += `<option value=${val?._id}>${val?.subcategory}</option>`;
                        });
                        document.getElementById('subcategory').innerHTML = tbl;
                    }
                }
            });
        };
    </script>


    <%- include('../footer') %>